<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cyl.wms.mapper.GoodsMapper">
    
    <resultMap type="Goods" id="GoodsResult">
        <result property="id" column="id"/>
        <result property="goodsNo" column="goods_no"/>
        <result property="goodsName" column="goods_name"/>
        <result property="brandNo" column="brand_no"/>
        <result property="goodsSpec" column="goods_spec"/>
        <result property="goodsType" column="goods_type"/>
        <result property="maxUnit" column="max_unit"/>
        <result property="maxUnitPrice" column="max_unit_price"/>
        <result property="aveUnit" column="ave_unit"/>
        <result property="delFlag" column="del_flag"/>
        <result property="aveUnitPrice" column="ave_unit_price"/>
        <result property="remark" column="remark"/>
        <result property="minUnit" column="min_unit"/>
        <result property="createBy" column="create_by"/>
        <result property="minUnitPrice" column="min_unit_price"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="maxAveNum" column="max_ave_num"/>
        <result property="updateTime" column="update_time"/>
        <result property="maxMinNum" column="max_min_num"/>
        <result property="aveMinNum" column="ave_min_num"/>
        <result property="shelfLife" column="shelf_life"/>
        <result property="shelfLifeUnit" column="shelf_life_unit"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="selectGoodsVo">
        select id, goods_no, goods_name, brand_no, goods_spec, goods_type, max_unit, max_unit_price, ave_unit, del_flag, ave_unit_price, remark, min_unit, create_by, min_unit_price, create_time, update_by, max_ave_num, update_time, max_min_num, ave_min_num, shelf_life, shelf_life_unit   from wms_goods
    </sql>

    <select id="selectByEntity" parameterType="Goods" resultMap="GoodsResult">
        <include refid="selectGoodsVo"/>
        <where>  
            <if test="goodsNo != null  and goodsNo != ''"> and goods_no = #{goodsNo}</if>
            <if test="goodsName != null  and goodsName != ''"> and goods_name like concat('%', #{goodsName}, '%')</if>
            <if test="brandNo != null "> and brand_no = #{brandNo}</if>
            <if test="goodsSpec != null  and goodsSpec != ''"> and goods_spec = #{goodsSpec}</if>
            <if test="goodsType != null  and goodsType != ''"> and goods_type = #{goodsType}</if>
            <if test="maxUnit != null  and maxUnit != ''"> and max_unit = #{maxUnit}</if>
            <if test="maxUnitPrice != null "> and max_unit_price = #{maxUnitPrice}</if>
            <if test="aveUnit != null  and aveUnit != ''"> and ave_unit = #{aveUnit}</if>
            <if test="aveUnitPrice != null "> and ave_unit_price = #{aveUnitPrice}</if>
            <if test="minUnit != null  and minUnit != ''"> and min_unit = #{minUnit}</if>
            <if test="minUnitPrice != null "> and min_unit_price = #{minUnitPrice}</if>
            <if test="maxAveNum != null "> and max_ave_num = #{maxAveNum}</if>
            <if test="maxMinNum != null "> and max_min_num = #{maxMinNum}</if>
            <if test="aveMinNum != null "> and ave_min_num = #{aveMinNum}</if>
            <if test="shelfLife != null "> and shelf_life = #{shelfLife}</if>
            <if test="shelfLifeUnit != null  and shelfLifeUnit != ''"> and shelf_life_unit = #{shelfLifeUnit}</if>
        </where>
    </select>

    <update id="updateDelFlagByIds">
        update wms_goods set del_flag=1
        <where>
            id in <foreach collection="ids" open="(" item="it" close=")" separator=",">#{it}</foreach>
        </where>
    </update>
</mapper>
